.topbar {
    background-color: teal;
    color: #fff;
  }

  .topbar-logo {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 54px;
    padding: 11px 0;
  }

  .topbar-nav {
    text-align: center;
    padding-bottom: 16px;
    line-height: 2;
  }

  .topbar-nav a {
    display: inline-block;
    margin: 0 12px;
    color: rgba(255, 255, 255, 0.67);
    transition: color 0.3s;
  }

  .topbar-nav a:hover,
  .topbar-nav a.active {
    color: #fff;
  }

  /*---------- DESKTOP ----------*/
  @media only screen and (min-width: 520px) {
    .topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      padding: 0 25px;
    }

    .topbar-logo {
      line-height: 30px;
    }

    .topbar-logo,
    .topbar-nav {
      padding: 0;
    }

    .topbar-nav {
      margin: 0 20px;
    }

    /*-----------
    Page User
    ------------*/
    .page_user {
      margin-left: 20px;
    }


  }